.xg-mainpicture{
  width:100%;
  height:0;
  position: relative;
  background: url("../images/banner_image.png") 0 0 no-repeat;
  padding-top:56%;
  background-size:100% auto;
  .banner-title{
    height:0;
    width:37%;
    padding-top:4.3%;
    position: relative;
    bottom:180px;
    margin:0 auto;
    background:url("../images/bannner_title.png") 0 0 no-repeat;
    background-size:100% 100%;
  }
  .banner-line{
    height:150px;
    width: 13px;
    margin:0 auto;
    position: relative;
    bottom:150px;
    background: url("../images/banner_line.png") 0 0 no-repeat;
    background-size:100% 100%;
  }
}
/*企业文化*/
.xg-culture{
  max-width:1200px;
  width:100%;
  margin:0 auto;
  margin-bottom: 9.3%;
  background:url("../images/businessdocument_backgroud.png") 0 0 no-repeat;
  background-size:100% 100%;
}
.culture-container{
  padding:10% 8.3% 7.5% 10%;
  background-color: #2b2117;
        opacity: 0.9;
}
.culture-title{
  width:199px;
  height:64px;
  margin-left:50%;
  transform:translateX(-99px);
  background:url("../images/culture_title.png") 0 0 no-repeat;
  background-size:100% 100%;
  margin-bottom:60px;
}
.culture-text{
  p{
    height: 288px;
    font-family: PingFangSC-Light;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    text-align:center;
    color: #f7f3e3;
  }
}
/*品牌故事*/
.mergecontainer{
  overflow: hidden;
}
.xg-story{
  position: relative;
  z-index: 888;
}
.story-container{
  max-width:1200px;
  width:100%;
  margin:0 auto;
}
.story-title{
  width:127px;
  height:64px;
  margin-left:50%;
  transform:translateX(-63px);
  background:url("../images/brandstory_title.png") 0 0 no-repeat;
  background-size:100% 100%;
  margin-bottom: 60px;
}
.stoty-info{
   overflow: hidden;
   width:100%;
  .stoty-info-item1,.stoty-info-item2,.stoty-info-item3{
    width: 33.3%;
    height:auto;
    float: left;
    position: relative;
    overflow: hidden;
    img{
      width:100%;
    }
    .info-hover{
      width:100%;
      height: 100%;
      position:absolute;
      left: 0;
      top: 100%;
      background:url("../images/brandstory_mask_hover.png") 0 0 no-repeat;
      background-size:100% 100%;
      transition: top 1s ease;
      // visibility: hidden;
      .logo{
        width:100%;
        height: 300px;
      }
      .detail{
        padding:0 30px;
        font-family: PingFangSC-Light;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 0px;
        color: #f7f3e3;
      }
    }
  }
  .stoty-info-item1{
    .info-hover{
      .logo{
        background:url("../images/brandstory_lisha_logo.png") 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    &:hover{
      cursor: pointer;
      .info-hover{
        top:0;
      }
    }
  }
  .stoty-info-item2{
    .info-hover{
      .logo{
        background:url("../images/brandstory_jnvn_logo.png") 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    &:hover{
      .info-hover{
        top:0
      }
    }
  }
  .stoty-info-item3{
    .info-hover{
      .logo{
        background:url("../images/brandstory_go_logo.png") 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
    &:hover{
      .info-hover{
        top:0
      }
    }
  }
}

/*新闻资讯*/
.xg-news{
  width:100%;
  margin-top:-12.5%;
  background-color: #f7f3e3;
}
.news-container{
  max-width:1200px;
  width:100%;
  margin:0 auto;
  padding-top:21.87%;
  padding-bottom: 9.37%;
}
.news-title{
  width:193px;
  height:64px;
  margin:0 auto;
  background: url("../images/newsinformation_title.png") 0 0 no-repeat;
  background-size: 100% 100%;
  margin-bottom: 60px;
}
.news-info{
  overflow: hidden;
}
.news-info-img{
  width:33.3%;
  overflow: hidden;
  float: left;
  img{
    width: 100%;
    border:0;
  }
}
.news-info-text{
  width:66.6%;
  float: left;
  padding: 0 3.1%;
  .title{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #2b2117;
    padding: 3.7% 0;
    margin:0;
  }
  .content{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #2b2117;
    padding-bottom: 3.7%;
    margin:0;
  }
  .date{
    height: 25px;
    font-family: PingFangSC-Light;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #2b2117;
    margin:0;
  }
}

/*招聘信息*/
.xg-recruitment{
  width:100%;
  height: 1186px;
  background: url("../images/employment_backgroud.png") 0 0 no-repeat;
  background-size:100% 100%;
}
.recruitment-container{
  max-width:1200px;
  width:90%;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom:120px;
}
.recruitment-title{
   height:64px;
   width:125px;
   margin:0 auto;
   background:url("../images/employment_title.png") 0 0 no-repeat;
   background-size: 100% 100%;
   margin-bottom: 60px;
}
.recruitment-text{
  font-family: 'PingFangSC-Light';
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 0px;
  color: #2b2117;
  margin-bottom: 60px;
}
.recruitment-table{
  font-family: PingFangSC-Regular;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 54px;
        letter-spacing: 0px;
        color: #2b2117;
}
.recruitment-table-item{
  height:55px;
  border-bottom:1px solid #b3b6b7;
  overflow: hidden;
  .item-office{
    width: 25%;
    float: left;
  }
  .item-experience{
    width: 25%;
    float: left;
  }
  .item-place{
    width: 25%;
    float: left;
    text-align: center;
  }
  .item-salary{
    width: 25%;
    float: left;
    text-align:center;
  }
}